h1{
    color: blueviolet;
    background-color:aquamarine;
    font-size: 24px;
    padding: 2px;
}
img{
    padding: 10px;
    width: 400px;
}
h2{color:cornflowerblue;
   font-size: 20 px;

}
h4{font-size: 18 px;
}